<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{/css/style.css}" rel="stylesheet" />
<link
	th:href="@{https://fonts.googleapis.com/css2?family=Lacquer&display=swap}"
	rel='stylesheet' type='text/css' />
	 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<main>
		<section id="title">
			<h1>Introduce tu nombre y selecciona una carta</h1>
		</section>
		
		<form th:action="@{/table}"  method="post">
		<section id="input-name">

			<input class="input-placeholder" name="playerName" th:field="${move.playerName}" type="text" placeholder="AÑADE TU NOMBRE">

		</section>
		
		<section   id="img-character">
			<div>
				<input th:value="${fig == 1}" th:checked="${move.playerChoice}" name="playerChoice"   class="checkbox" type="checkbox" id="myCheckbox-4" />
      			<label for="myCheckbox-4">
      			<img th:src="@{/images/mike.png}" />
      			<span class="cover-checkbox">
        </span>
      </label>
			</div>
			<div>
				<input class="checkbox" type="checkbox" id="myCheckbox-3" />
      			<label for="myCheckbox-3">
      			<img th:src="@{/images/max.png}" />
      			<span class="cover-checkbox">
        </span>
      </label>
			</div>
			<div>
				<input class="checkbox" type="checkbox" id="myCheckbox-5" />
      			<label for="myCheckbox-5">
      			<img th:src="@{/images/vecna.png}" />
      			<span class="cover-checkbox">
        </span>
      </label>
			</div>
			<div>
				<input class="checkbox" type="checkbox" id="myCheckbox-2" />
      			<label for="myCheckbox-2">
      			<img th:src="@{/images/eleven.png}" />
      			<span class="cover-checkbox">
        </span>
      </label>
			</div>
			<div>
				<input class="checkbox" type="checkbox" id="myCheckbox-1" />
      			<label for="myCheckbox-1">
      			<img th:src="@{/images/dustin.png}" />
      			<span class="cover-checkbox">
        </span>
      </label>
			</div>
		</section>
		<section id="buttons">
			<button class="button-play" type="submit">Jugar</button>
			<button class="button-results" type="submit">Ver Resultados</button>
		</section>
		</form>
		<section id="how-game">
			<p>¿Cómo se juega a esto?</p>
		</section>
	</main>
	<footer>
	<section id="copyright">
		<p>Copyright Mazmorra Team</p>
	</section>
		
	</footer>
</body>
</html>