<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{/css/style.css}" rel="stylesheet" />
<link
	th:href="@{https://fonts.googleapis.com/css2?family=Lacquer&display=swap}"
	rel='stylesheet' type='text/css' />
</head>
<body>
	<p th:text=${mensaje}></p>
	<main>
		<section id="title">
			<h1>Introduce tu nombre y selecciona una carta</h1>
		</section>
		
		<form th:action="@{/table}" th:Object="${move}" method="post">
		<section id="input-name">
			<input  name="playerName" th:field="*{playerName}" type="text" placeholder="AÑADE TU NOMBRE">
		</section>
		<section id="img-character">
			<div>
				<img th:src="@{/images/mike.png}" />
				<input class="mike" type="checkbox">
			</div>
			<div>
				<img th:src="@{/images/max.png}" />
				<input class="max" type="checkbox">
			</div>
			<div>
				<img th:src="@{/images/vecna.png}" />
				<input class="vecna" type="checkbox">
			</div>
			<div>
			<img
				th:src="@{/images/eleven.png}" />
				<input class="eleven" type="checkbox">
			</div>
			<div>
				<img
				th:src="@{/images/dustin.png}" />
				<input class="dustin" type="checkbox">
			</div>
		</section>
		<section id="buttons">
			<button class="button-play" type="submit">Jugar</button>
			<button class="button-results" type="submit">Ver Resultados</button>
		</section>
		</form>
		<section id="how-game">
			<p>¿Cómo se juega a esto?</p>
		</section>
	</main>
	<footer>
	<section id="copyright">
		<p>Copyright Mazmorra Team</p>
	</section>
		
	</footer>
</body>
</html>